extends ./_layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .p-introduction
    .p-introduction__row.js-transition-intro
      |Interactive sketches made with three.js.
    .p-introduction__row.js-transition-intro
      |created by 
      +textLink("http://www.tplh.net/", "yoichi kobayashi.", "_blank")
    .p-introduction__links
      a(href="https://github.com/ykob/sketch-threejs/", target="_blank").p-introduction__link.js-transition-intro
        +iconGitHub(24)
      a(href="https://twitter.com/ykob0123", target="_blank").p-introduction__link.js-transition-intro
        +iconTwitter(24)
      a(href="mailto:info@tplh.net").p-introduction__link.js-transition-intro
        +iconMail(24)
  canvas(id="canvas-webgl", class="p-canvas-webgl")
