extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index;

block content
  .p-introduction
    .p-introduction__wrap
      .p-introduction__row.js-transition-intro
        |Interactive sketches made with three.js.
      .p-introduction__row.js-transition-intro
        |created by 
        +textLink("http://www.tplh.net/", "yoichi kobayashi.", "_blank")
      .p-introduction__links
        a(href="https://github.com/ykob/sketch-threejs/", target="_blank").p-introduction__link.js-transition-intro
          +iconGitHub(24)
        a(href="https://twitter.com/ykob0123", target="_blank").p-introduction__link.js-transition-intro
          +iconTwitter(24)
        a(href="mailto:info@tplh.net").p-introduction__link.js-transition-intro
          +iconMail(24)
      .p-introduction__follow
        .p-introduction__follow-in.p-introduction__follow-in--1
        .p-introduction__follow-in.p-introduction__follow-in--2
        .p-introduction__follow-in.p-introduction__follow-in--3

  canvas(id="canvas-webgl", class="p-canvas-webgl")

  .p-sketch-index
    .p-sketch-index__contents#index-contents
      each item in data.pages
        if (item.title !== '')
          .p-sketch-index__item(
            class = 'js-index-scroll-item',
            :class = `{ "is-opened" : isOpened == 1 }`
          )
            a(href = `/sketch-threejs${item.path}`).p-sketch-index__item-wrap
              .p-sketch-index__item-thumb(
                :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
                style = `background-image: url(/sketch-threejs/img/common/ogp_${item.id}.jpg)`
              )
                .p-sketch-index__item-thumb-cover(
                  class = (page.color == "white") ? "p-sketch-index__item-thumb-cover--white" : "p-sketch-index__item-thumb-cover--black",
                  :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
                )
              .p-sketch-index__item-title(
                :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
              )
                +splitStr(item.title, 'js-split-str')
              .p-sketch-index__item-date(
                :class = `{ "is-opened" : isOpened == 1 }`
              )
                |posted: #{item.posted} 
                if (item.update)
                  |/ update: #{item.update}
    .p-sketch-index__scroll#index-scroll
    .p-sketch-index__bg(
      class = (page.color == "white") ? "p-sketch-index__bg--white" : "p-sketch-index__bg--black",
      :class = `{ "is-opened" : isOpened == 1 }`
    )
