.l-page {
  &--white {
    color: #fff;
    a {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
  }
  &--black {
    color: #222;
    a {
      color: #222;
    }
    svg {
      fill: #222;
    }
  }
}
