.p-sketch-index#index(
  :class = `{ "is-opened" : isOpened == 1 }`
)
  .p-sketch-index__contents#index-contents
    each item in pages
      if (item.title !== '')
        .p-sketch-index__item(
          class = 'js-index-scroll-item',
          :class = `{ "is-opened" : isOpened == 1 }`
        )
          a(href = `/sketch-threejs${item.path}`).p-sketch-index__item-wrap
            .p-sketch-index__item-thumb(
              :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
              style = `background-image: url(/sketch-threejs/img/common/ogp_${item.id}.jpg)`
            )
              .p-sketch-index__item-thumb-cover(
                class = (page.color == "white") ? "p-sketch-index__item-thumb-cover--white" : "p-sketch-index__item-thumb-cover--black",
                :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
              )
            .p-sketch-index__item-title(
              :class = `{ "is-opened" : isOpened == 1, "is-closed" : isOpened == 0 }`,
            )
              +splitStr(item.title, 'js-split-str')
            .p-sketch-index__item-date(
              :class = `{ "is-opened" : isOpened == 1 }`
            )
              |posted: #{item.posted} 
              if (item.update)
                |/ update: #{item.update}
  .p-sketch-index__scroll#index-scroll
  .p-sketch-index__bg(
    class = (page.color == "white") ? "p-sketch-index__bg--white" : "p-sketch-index__bg--black",
    :class = `{ "is-opened" : isOpened == 1 }`
  )
  .p-sketch-index__hamburger(
    @click = 'toggle',
    class = (page.color == 'white') ?  'p-sketch-index__hamburger--white' : 'p-sketch-index__hamburger--black',
    :class = `{ "is-opened" : isOpened == 1 }`
  )
    .p-sketch-index__hamburger-line.p-sketch-index__hamburger-line--top
    .p-sketch-index__hamburger-line.p-sketch-index__hamburger-line--bottom
    .p-sketch-index__hamburger-line.p-sketch-index__hamburger-line--cross1
    .p-sketch-index__hamburger-line.p-sketch-index__hamburger-line--cross2
