.p-sketch-outline
  h2.p-sketch-outline__title
    |#{page.title}
  p.p-sketch-outline__date
    |posted: #{page.posted} 
    if (page.update)
      |/ update: #{page.update}
  p.p-sketch-outline__description
    |#{page.description}
  if page.assets && page.assets.length > 0
    dl.p-sketch-outline__assets
      dt
        |Assets:
      dd 
        ul
          each item in page.assets
            li
              +textLink(item.link,item.name, '_blank')
