.p-website-outline
  h1.p-website-outline__title
    +textLink("../", "sketch of three.js")
  p.p-website-outline__description
    |created by 
    +textLink("https://www.tplh.net/", "yoichi kobayashi.", "_blank")
  .p-website-outline__links
    a(href="https://github.com/ykob/sketch-threejs/", target="_blank").p-website-outline__link
      +iconGitHub(24)
    a(href="https://twitter.com/ykob0123", target="_blank").p-website-outline__link
      +iconTwitter(24)
    a(href="mailto:info@tplh.net").p-website-outline__link
      +iconMail(24)
