.p-sketch-outline {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  &__title {
    line-height: 1;
    margin: 0;
    font-size: 9vmax;
    font-weight: 100;
    letter-spacing: -0.025em;
  }
  &__description {
    margin: 0.25em 0 0;
  }
}
