.p-sketch-outline {
  position: fixed;
  z-index: 100;
  bottom: 22px;
  left: 20px;
  @include l-mobile {
    right: 20px;
  }
  &__title {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0.075em;
    margin-left: -0.05em;
    @include flexFontSize(11);
    font-weight: 100;
    letter-spacing: 0.05em;
  }
  &__date {
    line-height: 1;
    margin: 0;
  }
  &__description {
    line-height: 1.5;
    margin: 10px 0 0;
  }
}
