.p-website-outline {
  position: fixed;
  z-index: 100;
  top: 20px;
  left: 20px;
  &__title {
    margin: 0 0 5px;
    @include fontSize(18);
  }
  &__description {
    line-height: 1.25;
    margin: 0;
  }
  &__links {
    display: flex;
    margin-top: 15px;
  }
  &__link {
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    svg {
      width: 18px;
    }
  }
}
