.p-website-outline {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  &__title {
    margin: 0 0 5px;
    @include fontSize(18);
  }
  &__description {
    line-height: 1.25;
    margin: 0;
  }
}
