extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.distort;

block content
  include ../_modules/_website-outline.pug
  include ../_modules/_sketch-outline.pug
  canvas(id="canvas-webgl", class="p-canvas-webgl")
  .p-badges
    a(href="http://www.chromeexperiments.com/experiment/distort/", target="_blank")
      img(src="../img/common/bdg_chrome_ex_b.svg", alt="See my Experiment on ChromeExperiments.com")
