extends ../layout/_page.pug

block vars
  -
    var page = pages.fireBall;

block content
  include ../modules/_website-outline.pug
  include ../modules/_sketch-outline.pug
  canvas(id="canvas-webgl", class="p-canvas-webgl")
