extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.gallery;

block content
  include ../_modules/_website-outline.pug
  include ../_modules/_sketch-outline.pug
  canvas(id="canvas-webgl", class="p-canvas-webgl")
