extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.webcam;

block content
  include ../_modules/_website-outline.pug
  include ../_modules/_sketch-outline.pug
  canvas(id="canvas-webgl", class="p-canvas-webgl")
  .p-config-menu
    //- .c-btn-circle(
    //-   class = (page.color == "white") ?  'c-btn-circle--white' : 'c-btn-circle--black',
    //-   )
    //-   svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
    //-     circle(class="path-fill" cx="12" cy="12" r="3.2")
    //-     path(class="path-fill" d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z")
    //-     path(d="M0 0h24v24H0z" fill="none")

block scripts
  script(src=`/sketch-threejs/js/vendor/clmtrackr/clmtrackr.min.js`)
  script(src=`/sketch-threejs/js/vendor/clmtrackr/model_pca_20_svm.js`)
