block vars

doctype html
html(lang="ja")
  head
    include ../layout/_head.pug
  body
    .l-page
      block content
    script(src="/sketch-threejs/js/vendor.js")
    script(src="/sketch-threejs/js/main.js")
