block vars

doctype html
html(lang="ja")
  head
    include ../layout/_head.pug
  body
    .l-page(
      class = (page.color == "white") ?  "l-page--white" : "l-page--black"
    )
      block content
      include ../modules/_sketch-index.pug
    script(src="/sketch-threejs/js/vendor.js")
    script(src="/sketch-threejs/js/main.js")
