.p-website-outline
  h1.p-website-outline__title
    |sketch of three.js
  p.p-website-outline__description
    |created by 
    a(href="http://www.tplh.net/", target="_blank")
      |yoichi kobayashi
    |.
    br
    a(href="https://github.com/ykob/sketch-threejs/", target="_blank")
      |view source
