* {
  margin: 0;
  padding: 0;
}
::selection {
  background: rgba(0, 0, 0, 0);
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Josefin Sans', sans-serif;;
}
h1 {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.25em;
}
.sketch-outline {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 20px;
  color: #fff;
  h2 {
    line-height: 0.8;
    margin-bottom: 0.2em;
    font-size: 9vmax;
    font-weight: 100;
    letter-spacing: -0.025em;
  }
}
canvas {
  position: absolute;
}
.btn-switch-menu {
  width: 3em;
  height: 3em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10000;
  border: 0;
  div {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &:before, &:after {
      width: 3em;
      height: 1px;
      content: '';
      display: block;
      background-color: #fff;
      transition: 0.15s;
    }
    &:before {
      transform: translateY(0.937em);
    }
    &:after {
      transform: translateY(2em);
    }
  }
  span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    &:before {
      width: 3em;
      height: 1px;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background-color: #fff;
      transform: translateY(1.5em);
      transition: 0.15s;
    }
  }
  &.is-active {
    div {
      &:before {
        transform: scale(0.75, 0.75) translateY(2.1em) rotate(45deg);
      }
      &:after {
        transform: scale(0.75, 0.75) translateY(2em) rotate(-45deg);
      }
    }
    span {
      &:before {
        transform: scale(0.001, 1) translateX(1.5em) translateY(1.5em);
      }
    }
  }
}
.menu {
  width: 0;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 5em;
  padding-bottom: 2em;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.15s;
  font-size: 110%;
  &.is-active {
    width: 300px;
  }
}
.select-sketch {
  line-height: 1.5;
  list-style: none;
  li {
    cursor: pointer;
    position: relative;
    padding: 0.5em 1.5em;
    transition: 0.15s;
    span {
      position: relative;
      z-index: 1001;
    }
    &:after {
      width: 0;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      transition: 0.15s;
    }
    &:hover {
      color: #333;
      &:after {
        width: 100%
      }
    }
  }
}
